<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="stylesheet" href="/styles/navbar.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <script src="/scripts/navbar.js" defer></script>
  </head>
  <header>
    <span class="material-symbols-outlined" id="navIcon"> menu </span>
    <h1>GameJoy</h1>
  </header>
  <%- include('navbar') %>
  <body>
    <main>
      <% if (developer) { %>
      <section class="detail-section">
        <div class="title-container">
          <h3><%= developer.developer_name %></h3>
        </div>
        <% if (developer.developer_publisher) { %>
        <div class="publisher-container">
          <span><%= developer.publisher_name %></span>
        </div>
        <% } %>
        <div class="location-container">
          <span><%= developer.developer_location%></span>
        </div>
        <div class="date-foundation-container">
          <span><%= developer.developer_date_of_foundation %></span>
        </div>
        <% if (developer.developer_close_status) { %>
        <div class="status-container">
          <span>Developer closed</span>
        </div>
        <% } %>
        <div class="button-contianer">
          <button type="submit">
            <a href="<%=developer.developer_url %>/delete">DELETE</a>
          </button>
          <button type="submit">
            <a href="<%=developer.developer_url %>/update">UPDATE</a>
          </button>
        </div>
      </section>
      <% } else { %>

      <p>Developer Not Found!</p>
      <% }%>
    </main>
    <%- include('footer') %>
  </body>
</html>
