<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <%- include('navbar', {navLinks: navLinks}) %>

        <section class="title-section">
            <div class="title-container">
                <h3><%= title  %></h3>
            </div>
        </section>
        <section class="form-section">
            <form action="/developers/create-developer" method="POST">
                <div class="form-group">
                    <label for="name">Name: </label>
                    <input type="text" id="name" name="name">
                </div>
                <div class="form-group">
                    <label for="publisher">Publisher: </label>
                    <select name="publisher" id="publisher">
                        <option  value="empty" id="empty">-- Select publisher --</option>
                        <% publishers.forEach((publisher) => { %>
                            <option value="<%= publisher.id %>" id="<%= publisher.id %>"><%= publisher.name %></option>
                      <%  }) %>
                    </select>
                </div>
                <div class="form-group">
                    <label for="location">Location: </label>
                    <input type="text" id="location" name="location">
                </div>
                <div class="form-group">
                    <label for="founded">Date of Foundation: </label>
                    <input type="date", id="founded", name="founded">
                </div>
                <div class="form-group">
                    <fieldset>
                        <legend>STATUS CLOSED: YES/NO</legend>
                        <div>
                            <input type="radio" id="yes" name="closed">
                            <label for="yes">YES</label>
                        </div>
                        <div>
                            <input type="radio" id="no" name="closed">
                            <label for="no">NO</label>
                        </div>
                    </fieldset>
                </div>
                <div class="button-container">
                    <button type="submit">Submit</button>
                </div>
            </form>
        </section>
    </body>
</html>