<html>
  <head>
    <title><%= title %> <%= game.title %></title>
    <link rel="stylesheet" href="/styles/styles.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <link rel="stylesheet" href="/styles/navbar.css" />
    <script src="/scripts/navbar.js" defer></script>
    <body>
      <header>
        <span class="material-symbols-outlined" id="navIcon"> menu </span>
        <h1>GameJoy</h1>
      </header>
      <%- include('navbar') %>
      <main>
        <section class="delete-section">
          <% if (game) { %>
          <section class="delete-section">
            <h3><%= title + " " + game.game_title %> game</h3>
            <form action="<%=game.game_url %>/delete/" method="post">
              <button type="submit">YES</button>
              <button><a href="<%=game.game_url %>">Cancel</a></button>
            </form>
          </section>
          <% } else { %> <% } %>
        </section>
      </main>
      <%- include('footer') %>
    </body>
  </head>
</html>
