<html>
  <head>
    <title><%= title %></title>
    <body>
      <%- include('navbar') %>
      <main>
        <% if (game) { %>
          <section class="game-detail-section">
            <div class="game-title">
              <h3><%= game.game_title %></h3>
            </div>
            <div class="game-publisher">
              <span><%= game.game_publisher %></span>
            </div>
            <div class="game-developer">
              <span><%= game.game_developer %></span>
              <div class="game-platform">
                <% platforms.forEach((platform) => { %>
                  <span><%= platform.platform_name %></span>
                <% }) %>
              </div>
            </div>
            <%  } else { %>
              <p>Game Not Found!</p>
              <% }%>
              <div class="game-genres">
                <span><%= game.game_genre %></span>
              </div>
              <div class="game-release-date">
                <span> <%= game.game_release_date %></span>
              </div>
            </section>
       
      </main>
    </body>
  </head>
</html>
