<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/details.css" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <link rel="stylesheet" href="/styles/navbar.css" />
    <script src="/scripts/navbar.js" defer></script>
  </head>
  <body>
    <header>
      <span class="material-symbols-outlined" id="navIcon"> menu </span>
      <h1>GameJoy</h1>
    </header>
    <%- include('navbar') %>
    <main>
      <% if (game) { %>
      <section class="detail-section">
        <div class="title-container">
          <h3><%= game.game_title %></h3>
        </div>
        <div class="publisher-container">
          <span><strong>Publisher: </strong><%= game.game_publisher %></span>
        </div>
        <div class="developer-container">
          <span><strong>Developer: </strong><%= game.game_developer %></span>
        </div>
        <div class="platform-container">
          <strong>Platform: </strong>
          <% platforms.forEach((platform) => { %>
          <span><%= platform.platform_name %></span>
          <% }) %>
        </div>

        <div class="genre-container">
          <span><strong>Genre: </strong><%= game.game_genre %></span>
        </div>
        <div class="release-date-container">
          <span>
            <strong>Date of Release: </strong> <%= game.game_release_date
            %></span
          >
        </div>

        <div class="button-container">
          <button type="submit">
            <a href="<%=game.game_url %>/delete">DELETE</a>
          </button>
          <button type="submit">
            <a href="<%=game.game_url %>/update">UPDATE</a>
          </button>
        </div>
        <% } else { %>
        <p>Game Not Found!</p>
        <% }%>
      </section>
    </main>
    <%- include('footer') %>
  </body>
</html>
