<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="stylesheet" href="/styles/form.css" />
    <link rel="stylesheet" href="/styles/navbar.css" />
    <script src="/scripts/navbar.js" defer></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
  </head>
  <body>
    <header>
      <span class="material-symbols-outlined" id="navIcon"> menu </span>
      <h1>GameJoy</h1>
    </header>
    <%- include('navbar') %>
    <main>
      <section class="title-section">
        <div class="title-container">
          <h3><%= title %></h3>
        </div>
      </section>
      <section class="form-section">
        <form action=<%= genre ? genre.genre_url+"/update" :
        "/genres/create-genre"%> method="POST">
        <div class="form-group">
          <label for="name">Name: <span class="asterix">*</span></label>
          <input type="text" required id="name" name="name" value="<%= genre ?
          genre.genre_name : "" %>">
        </div>
        <button type="submit">Submit</button>
      </section>
      <%- include("errors") %>
    </main>
    <%- include('footer') %>
  </body>
</html>
