<html>
    <head>
        <title><%= title + ": " + genre.genre_name %></title>
        <link rel="stylesheet" href="/styles/styles.css">
    </head>
    <body>
        <section class="delete-section">
            <h3><%= title +  " " + genre.genre_name %> genre </h3>
          <%  if (games.length) { %>
            <span>Please make sure to first delete games that are associated with this genre!</span>
            <div class="item-list">
                <h4>List of Games: </h4>
                <ul>
                <% games.forEach(game => { %>
                    <li><a href="<%= genre.genre_url %>"><%= genre.genre_title %></a></li>
                <% }) %>
            </ul>
            </div>
          <% } if (!games.length) { %>
            <div class="button-container">
                <span><strong>Do you really want to delete this genre?</strong></span>
                <form action="<%=genre.genre_url%>/delete/" method="post">
                    <button type="submit">Delete</button>
                    <button><a href="<%=genre.genre_url %>">Cancel</a></button>
                </form>
            </div>
          <% }  else  { %>
            <div class="button-container">
                <button><a href="<%=genre.genre_url %>">Cancel</a></button>
            </div>
          <% } %>
        </section>
    </body>
</html>