<html>
  <head>
    <title>Inventory - Homepage</title>
    <link rel="stylesheet" href="/styles/styles.css">
  </head>
  <body>
    <%- include('navbar') %>
    <%- include('sidebar') %>
    <main>
      <section class="items">
        <ul>
          <li>Games: <%=games %></li>
          <li>Publishers: <%=publishers %></li>
          <li>Developers: <%=developers %></li>
          <li>Platforms: <%=platforms %></li>
          <li>Genres: <%=genres %></li>
        </ul>
      </section>
    </main>
  </body>
</html>
