<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="stylesheet" href="/styles/index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
  </head>
  <body>
    <header><%- include('navbar') %></header>
    <main>
      <section class="main-page-section">
        <div class="header-container">
          <h3>Welcome to Game Club!</h3>
        </div>
        <div class="hero-text-container">
          <p>
            Everyone needs a place where you can find all of your favorite
            games, right? If you are looking for informations on your favorite
            games then you are in the right place!
          </p>
        </div>
      </section>
      <section class="dashboard-section">
        <h3>Collection:</h3>
        <ul>
          <a class="box box-1" href="/games">
            <span><%= games %></span>
            <h4>Number of Games</h4>
            <div class="button-container">
              <button type="button">Details</button>
            </div>
          </a>

          <a class="box box-2" href="/publishers">
            <span><%= publishers %></span>
            <h4>Number of Publishers</h4>
            <div class="button-container">
              <button type="button">Details</button>
            </div>
          </a>
          <a class="box box-3" href="/developers">
            <span><%= developers %></span>
            <h4>Number of Developers</h4>
            <div class="button-container">
              <button type="button">Details</button>
            </div>
          </a>
          <a class="box box-4" href="/genres">
            <span><%= genres %></span>
            <h4>Number of Genres</h4>
            <div class="button-container">
              <button type="button">Details</button>
            </div>
          </a>
          <a class="box box-5" href="/platforms">
            <span><%= platforms %></span>
            <h4>Number of Platforms</h4>
            <div class="button-container">
              <button type="button">Details</button>
            </div>
          </a>
        </ul>
      </section>
    </main>
  </body>
  <%- include('footer') %>
</html>
