<html>
  <head>
    <title><%= title %></title>
    <body>
      <%- include('navbar') %>
      <main>
        <% if (platform) { %>
            <section class="detail-section">
                <div class="title-container">
                    <h3><%= platform.platform_name %></h3>
                </div>
               <% if (games) { %>
                <div class="items-container">
                    <ul>
                     <% games.forEach(game => { %>
                       <li><a href="<%= game.game_url%>"><%= game.game_title %></a></li>
                    <% }) %>
                   </ul>
                </div>
               <% } %>
               <div class="button-contianer">
                <button type="submit"><a href="<%=platform.platform_url %>/delete">DELETE</a></button>
                <button type="submit"><a href="<%=platform.platform_url %>/update">UPDATE</a></button>
            </section>
            <%  } else { %>
            
              <p>Platform Not Found!</p>
              <% }%>
      </main>
    </body>
  </head>
</html>
