<html>
    <head><title><%= title %></title></head>
    <body>
        <%- include('navbar') %>
        <main>
            <section class="title-section">
                <div class="title-container">
                    <h3><%= title %></h3>
                </div>
            </section>
            <section class="form-section">
                <form action=<%= platform ? platform.platform_url+"/update" : "/platforms/create-genre"%> method="POST">
                    <div class="form-group">
                        <label for="name">Name: </label>
                        <input type="text" id="name" name="name" value="<%= platform ? platform.platform_name : ""%>">
                    </div>
                    <button type="submit">Submit</button>
                </form>
            </section>
            <%- include("errors") %>
        </main>
    </body>
</html>