<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <header><%- include('navbar') %></header>
    <main>
      <section class="title-section">
        <div class="title-container">
          <h3><%= title %></h3>
        </div>
      </section>
      <section class="form-section">
        <form action=<%= platform ? platform.platform_url+"/update" :
        "/platforms/create-genre"%> method="POST">
        <div class="form-group">
          <label for="name">Name: </label>
          <input type="text" id="name" name="name" value="<%= platform ?
          platform.platform_name : ""%>">
        </div>
        <button type="submit">Submit</button>
      </section>
      <%- include("errors") %>
    </main>
  </body>
</html>
