<html>
    <head>
        <title><%= title %> + <%= platform.name %>  </title>
        <body>
            <main>
                <section class="delete-section">
                   <% if (platform) { %> 
                    <section class="delete-section">
                        <% if (games.length) { %>
                            <span>Please make sure to first delete the games that are associated with this platform!</span>
                            <url>
                                <h4>List of Games:</h4>
                                <% games.forEach(game => { %>
                                    <li><a href="<%= game.game_url%>"><%= game.game_title%></a></li>
                                <% }) %>
                            </url>
                            <div class="button-container">
                                <button type="button"><a href="<%=platform.platform_url %>">Cancel</a></button>
                            </div>
                        <% }  else { %>
                            <h3><%= title +  " " + platform.platform_name %> platform </h3>
                            <form action="<%=platform.url %>/delete/" method="post">
                                <button type="submit">YES</button>
                                <button><a href="<%=platform.url %>">Cancel</a></button>
                            </form>

                        <% }%>
                    </section>
                    <%  } else { %>
                   <% } %>
                </section>
            </main>
        </body>

    </head>
</html>